<ion-header>
  <ion-navbar>
    <ion-title>Authentication</ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>
<h3>Login</h3>
    <ion-list>
        <ion-item>
          <ion-label stacked>Email</ion-label>
          <ion-input [(ngModel)]="loginUserMail" (focus)="clearError()"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Password</ion-label>
          <ion-input [(ngModel)]="loginUserPass"></ion-input>
        </ion-item>
      </ion-list>
  <div progress *ngIf=" errorChk?.progress "><ion-spinner></ion-spinner>{{ errorChk.progress }}</div>
  <div success *ngIf=" errorChk?.success "><ion-icon name="checkmark"></ion-icon>{{ errorChk.success }}</div>
  <div error *ngIf=" errorChk?.error "><ion-icon name="bug"></ion-icon>{{ errorChk.error }}</div>
  <button ion-button small (click)="onClickLogin()">Login</button>

</ion-content>
