[submodule "fireframe2"]
	path = fireframe2
	url = https://github.com/thruthesky/fireframe2.git
[submodule "src/fireframe2"]
	path = src/fireframe2
	url = https://github.com/thruthesky/fireframe2.git
[submodule "src/src/fireframe2"]
	path = src/src/fireframe2
	url = https://github.com/thruthesky/fireframe2.git
