<!--
  Generated template for the Questionslist page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Questions List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div padding>
    <ion-segment [(ngModel)]="category" (ionChange)="testChange()">
      <ion-segment-button>
        All
      </ion-segment-button>
      <ion-segment-button value="grammar">
        Grammar
      </ion-segment-button>
      <ion-segment-button value="vocabulary">
        Vocabulary
      </ion-segment-button>
      <ion-segment-button value="picture">
        Picture
      </ion-segment-button>
    </ion-segment>
  </div>
  <hr/>

  <div [ngSwitch]="category" *ngIf="!loading">
    <ion-list *ngSwitchCase="'grammar'">
      <div *ngFor="let question of questions; let i = index" >
        
        <ion-item  *ngIf="! more[i]">
          {{ question.title }}
          <br/>
          <button  (click)='more[i] = ! more[i]'>Show more</button>
          <button (click)="onClickUpdate(question.idx, i)"> Edit</button>
          <button (click)="onClickDelete(question.idx, i)">Delete</button>
        </ion-item>
          
        <ion-item text-wrap *ngIf="more[i]">   
          {{ question.title }}
          <div>Choice1: {{ question.extra_2}}</div>
          <br/>
          <button (click)='more[i] = ! more[i]'>Show less</button>
          <button (click)="onClickUpdate(question.idx, i)"> Edit</button>
          <button (click)="onClickDelete(question.idx, i)">Delete</button>
        </ion-item>
        
      </div>
    </ion-list>
    <ion-list *ngSwitchCase="'vocabulary'">
        <div *ngFor="let question of questions; let i = index" >
          
          <ion-item  *ngIf="! more[i]">
            {{ question.title }}
            <br/>
            <button  (click)='more[i] = ! more[i]'>Show more</button>
            <button (click)="onClickUpdate(question.idx, i)"> Edit</button>
            <button (click)="onClickDelete(question.idx, i)">Delete</button>
          </ion-item>
            
          <ion-item text-wrap *ngIf="more[i]">   
            {{ question.title }}
            <div>Choice1: {{ question.extra_2}}</div>
            <br/>
            <button (click)='more[i] = ! more[i]'>Show less</button>
            <button (click)="onClickUpdate(question.idx, i)"> Edit</button>
            <button (click)="onClickDelete(question.idx, i)">Delete</button>
          </ion-item>
          
        </div>
    </ion-list>
  </div>

  <div padding *ngIf=" loading"><ion-spinner></ion-spinner>please wait...</div>
  
  <button ion-button (click)="onClickBack()">Back</button>

</ion-content>
